<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Azure.StorageTypeProvider" version="1.4.1" targetFramework="net46" />
  <package id="FSharp.Compiler.Service" version="2.0.0.2" targetFramework="net46" />
  <package id="FSharp.Compiler.Tools" version="4.0.0.1" targetFramework="net46" />
  <package id="FSharp.Configuration" version="0.5.9" targetFramework="net46" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net46" />
  <package id="FSharp.Data" version="2.3.0-beta2" targetFramework="net46" />
  <package id="FSharpx.TypeProviders.AppSettings" version="1.8.41" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="SlackConnector" version="3.0.5827.36312" targetFramework="net46" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net46" />
  <package id="websocket-sharp-with-proxy-support" version="1.9.1" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="6.0.0" targetFramework="net46" />
</packages>